body {margin:0;padding: 10px 50px 20px;}

.container {
	display: flex;
	align-items: center
  }
  
  img {
	max-width: 100%
  }
  
  .image {
	flex-basis: 40%
  }
  
  .text {
	font-size: 20px;
	padding-left: 190px;
  }