<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elecciones 2023 en twitter</title>
    <link href='https://fonts.googleapis.com/css?family=Heebo' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/estilos.css')}}">
    <style>
        html,
        body {
            margin:0;
            font-family: 'Heebo';font-size: 30px;color: #ffffff;line-height: 45%;
        }

        .banner {
            background: #2b3034;
        }
    </style>  
</head>
<body>
    <body style="background-color:#19172c"></body>
    <p style="font-size:70%;"style="font-family:heebo;"align="left"> MEDICIONES / ÍNDICES</p>
    <p style="font-size:160%;"style="font-family:heebo;"align="left"><b>ELECCIONES 2023 EN TWITTER</b></p>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="image">
            <blockquote class="twitter-tweet"><p lang="es" dir="ltr">{{Texto_semana}}</p>&mdash; {{Nombre_semana}} ({{Usr_Sem}}) <a href = {{Url}} >{{Fecha_Sem}}</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="text">
          <h1><span style="color:#68c7ff">{{Likes_Sem}}</span> LIKES</h1>
          <br>
          <h1><span style="color:#68c7ff">{{Rt_Sem}}</span> RETWEETS</h1>
          <br>
          <h1><span style="color:#68c7ff">{{Citas_Sem}}</span> CITAS</h1>
        </div>
    </div>
    <p style="font-size:70%;"style="font-family:heebo;"align="left"><b>TWEET MÁS RELEVANTE DE LA ÚLTIMA SEMANA</b></p>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="image">
            <img src="{{url_for('static', filename='TxC.png')}}">
        </div>
        <div class="text">
          <h1><span style="font-size: 50%;">El candidato con más tweets fué:</span> </h1>
          <h1><span style="color:#68c7ff">{{Cand_Tw}}</span></h1>
          <br>
          <h1><span style="color:#68c7ff">{{Cand_Tw_Num}}</span> TWEETS</h1>
        </div>
    </div>
    <p style="font-size:70%;"style="font-family:heebo;"align="left"><b>TWEETS POR CANDIDATO</b></p>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="image">
            <img src="{{url_for('static', filename='TxE.png')}}">
        </div>
        <div class="text">
          <h1><span style="font-size: 50%;">El espacio con más tweets fué:</span> </h1>
          <h1><span style="color:#68c7ff">{{Esp_Tw}}</span></h1>
          <br>
          <h1><span style="color:#68c7ff">{{Esp_Tw_Num}}</span> TWEETS</h1>
        </div>
    </div>
    <p style="font-size:70%;"style="font-family:heebo;"align="left"><b>TWEETS POR ESPACIO</b></p>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="image">
            <img src="{{url_for('static', filename='RxC.png')}}">
        </div>
        <div class="text">
          <h1><span style="font-size: 50%;">El candidato más relevante fué:</span> </h1>
          <h1><span style="color:#68c7ff">{{Cand_Rel}}</span></h1>
          <br>
          <h1><span style="color:#68c7ff">{{Cand_Rel_Num}}</span> Puntos de relevancia promedio</h1>
        </div>
    </div>
    <p style="font-size:70%;"style="font-family:heebo;"align="left"><b>RELEVANCIA POR CANDIDATO</b></p>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="image">
            <img src="{{url_for('static', filename='RxE.png')}}">
        </div>
        <div class="text">
          <h1><span style="font-size: 50%;">El espacio más relevante fué:</span> </h1>
          <h1><span style="color:#68c7ff">{{Esp_Rel}}</span></h1>
          <br>
          <h1><span style="color:#68c7ff">{{Esp_Rel_Num}}</span> Puntos de relevancia promedio</h1>
        </div>
    </div>
    <p style="font-size:70%;"style="font-family:heebo;"align="left"><b>RELEVANCIA POR ESPACIO</b></p>
    <br>
    <br>
    <br>
    <p style="font-size:160%;"style="font-family:heebo;"align="left"><b>INFORMACIÓN DETALLADA POR CANDIDATO</b></p>
    <br>
    <br>

    <div class="parent">

        <div>

            <div class="container2">
                <div class="image">
                    <a href="http://localhost:5000//results?Massa">
                        <img src="{{url_for('static', filename='Massa_Perfil.png')}}" alt="Massa" style="width:100%" >
                    </a>
                </div>
                <div class="text">
                  <h1><span>Sergio</span> </h1>
                  <h1><span style="color:#68c7ff">Massa</span></h1>
                </div>
            </div>
        
            
            
        </div>
        
        <div>

            <div class="container2">
                <div class="image">
                    <a href="http://localhost:5000//results?Grabois">
                        <img src="{{url_for('static', filename='Grabois_Perfil.png')}}" alt="Grabois" style="width:100%">
                    </a>
                </div>
                <div class="text">
                  <h1><span>Juan</span> </h1>
                  <h1><span style="color:#68c7ff">Grabois</span></h1>
                </div>
            </div>
        
            
            
        </div>
        
        <div>

            <div class="container2">
                <div class="image">
                    <a href="http://localhost:5000//results?Kicillof">
                        <img src="{{url_for('static', filename='Kicillof_Perfil.png')}}" alt="Kicillof" style="width:100%">
                    </a>
                </div>
                <div class="text">
                  <h1><span>Axel</span> </h1>
                  <h1><span style="color:#68c7ff">Kicillof</span></h1>
                </div>
            </div>
        
            
            
        </div>
        
    </div>
    <br>
    <br>
    <div class="parent">

        <div>

            <div class="container2">
                <div class="image">
                    <a href="http://localhost:5000//results?Larreta">
                        <img src="{{url_for('static', filename='Larreta_Perfil.png')}}" alt="Larreta" style="width:100%">
                    </a>
                </div>
                <div class="text">
                  <h1><span>Horacio</span> </h1>
                  <h1><span style="color:#68c7ff">R. Larreta</span></h1>
                </div>
            </div>
        
            
            
        </div>
        
        <div>

            <div class="container2">
                <div class="image">
                    <a href="http://localhost:5000//results?Bullrich">
                        <img src="{{url_for('static', filename='Bullrich_Perfil.png')}}" alt="Bullrich" style="width:100%">
                    </a>
                </div>
                <div class="text">
                  <h1><span>Patricia</span> </h1>
                  <h1><span style="color:#68c7ff">Bullrich</span></h1>
                </div>
            </div>
        
            
            
        </div>
        
        <div>

            <div class="container2">
                <div class="image">
                    <a href="http://localhost:5000//results?Vidal">
                        <img src="{{url_for('static', filename='Vidal_Perfil.png')}}" alt="Vidal" style="width:100%">
                    </a>
                </div>
                <div class="text">
                  <h1><span>María E.</span> </h1>
                  <h1><span style="color:#68c7ff">Vidal</span></h1>
                </div>
            </div>
        
            
            
        </div>
        
    </div>
    <br>
    <br>
    <div class="parent">

        <div>

            <div class="container2">
                <div class="image">
                    <a href="http://localhost:5000//results?Bregman">
                        <img src="{{url_for('static', filename='Bregman_Perfil.png')}}" alt="Bregman" style="width:100%">
                    </a>
                </div>
                <div class="text">
                  <h1><span>Myriam</span> </h1>
                  <h1><span style="color:#68c7ff">Bregman</span></h1>
                </div>
            </div>
        
            
            
        </div>
        
        <div>

            <div class="container2">
                <div class="image">
                    <a href="http://localhost:5000//results?Solano">
                        <img src="{{url_for('static', filename='Solano_Perfil.png')}}" alt="Solano" style="width:100%">
                    </a>
                </div>
                <div class="text">
                  <h1><span>Gabriel</span> </h1>
                  <h1><span style="color:#68c7ff">Solano</span></h1>
                </div>
            </div>
        
            
            
        </div>
        
        <div>

            <div class="container2">
                <div class="image">
                    <a href="http://localhost:5000//results?DelCaño">
                        <img src="{{url_for('static', filename='DelCaño_Perfil.png')}}" alt="DelCaño" style="width:100%">
                    </a>
                </div>
                <div class="text">
                  <h1><span>Nicolas</span> </h1>
                  <h1><span style="color:#68c7ff">Del Caño</span></h1>
                </div>
            </div>
        
            
            
        </div>
        
    </div>
    <br>
    <br>
    <div class="parent">

        <div>

            <div class="container2">
                <div class="image">
                    <a href="http://localhost:5000//results?Villarruel">
                        <img src="{{url_for('static', filename='Villarruel_Perfil.png')}}" alt="Villarruel" style="width:100%">
                    </a>
                </div>
                <div class="text">
                  <h1><span>Victoria</span> </h1>
                  <h1><span style="color:#68c7ff">Villarruel</span></h1>
                </div>
            </div>
        
            
            
        </div>
        
        <div>

            <div class="container2">
                <div class="image">
                    <a href="http://localhost:5000//results?Espert">
                        <img src="{{url_for('static', filename='Espert_Perfil.png')}}" alt="Espert" style="width:100%">
                    </a>
                </div>
                <div class="text">
                  <h1><span>José L.</span> </h1>
                  <h1><span style="color:#68c7ff">Espert</span></h1>
                </div>
            </div>
        
            
            
        </div>
        
        <div>

            <div class="container2">
                <div class="image">
                    <a href="http://localhost:5000//results?Marra">
                        <img src="{{url_for('static', filename='Marra_Perfil.png')}}" alt="Marra" style="width:100%">
                    </a>
                </div>
                <div class="text">
                  <h1><span>Ramiro</span> </h1>
                  <h1><span style="color:#68c7ff">Marra</span></h1>
                </div>
            </div>
        
            
            
        </div>
        
    </div>
      
    <script>
        function submitForm()
    {
    var urlParam = document.getElementById("query").value;
    var URL = "http://example.com/";
    var encordedUrl = URL+"?" + encodeURI( urlParam );
    window.open(encordedUrl);
    }
    </script>
</body>
</html>